[VEKTORIA]
fVersion=15.000000
[M]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=MRockMossy
eTranparencyKind=N
mColor=1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
colorSSS=0.000000,0.000000,0.000000,0.000000
fGlowSharpness=1.000000
fDiffuseSharpness=1.300000
fSpecularSharpness=25.000000
fHazeStrength=0.000000
fBumpStrength=2.100000
fHeightStrength=0.200000
fGlowStrength=1.000000
fSpecularStrength=1.000000
frFresnel=0.000000
fRefractionRatio=0.752000
frTransparency=0.000000
frTransparencyEdge=340282346638528859811704183484516925440.000000
bDistributed=1
fAbsoluteThickness=1.000000
fBRDFReflectance=1.000000
fRimLightStr=1.000000
fEnvironmentInt=1.000000
fRoughness=0.200000
fIOR=0.040000
fSpecular=0.500000
fSpecularTint=0.000000
fMetallic=0.000000
fSubsurface=0.000000
fAnistropic=0.000000
fSheen=0.000000
fSheenTint=0.000000
fClearCoat=0.000000
fClearCoatGloss=1.000000
iFlagsDiffuse=1
iFlagsGlow=0
iFlagsSpecular=1
iFlagsBump=1
iFlagsEnvironment=0
iFlagsPOM=1
iFlagsSSS=0
iFlagsReflectionMap=0
iFlagsPosprocessing=1
bShading=1
bAni=0
bBot=0
ixPics=1
iyPics=1
fFps=0.000000
eTextureAddressMode=W
bDiffuse=1
bBump=1
bGlow=0
bSpecular=1
bEnvironment=0
bHeight=1
bThickness=0
idDiffuse=509
idBump=511
idSpecular=513
idHeight=515
iEmitters=0
[T509]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=MRockMossyD
eKindTexture=D
pimage=1
idI=510
[I510]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=IRockMossyD
acPath=.\..\..\Lib\Materials\RockMossy\RockMossyD.jpg
[T511]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=TRockMossyB
eKindTexture=B
pimage=1
idI=512
[I512]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=IRockMossyB
acPath=.\..\..\Lib\Materials\RockMossy\RockMossyB.jpg
[T513]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=TRockMossyS
eKindTexture=S
pimage=1
idI=514
[I514]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=IRockMossyS
acPath=.\..\..\Lib\Materials\RockMossy\RockMossyS.jpg
[T515]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=TRockMossyH
eKindTexture=H
pimage=1
idI=516
[I516]
bSwitchTick=1
bSwitchDraw=1
eKindSub=0
acName=IRockMossyH
acPath=.\..\..\Lib\Materials\RockMossy\RockMossyH.jpg
